<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/shopping.css">
    <title>Shop - Cardano-Natives</title>
</head>
<body>
    <nav>
        <h3><a href="https://cardano.org/">Cardano Natives</a></h3>
        <ul id="navUl">
            <li><a href="index.html">Home</a></li>
            <li><a class="merch" href="/merch">Shop</a></li>
            <li><a href="#nfts">Connect Wallet</a></li>
        </ul>
        <i class="fa-solid fa-bars-staggered"></i>
    </nav>
    <main>
        <div class="header-info">
            <h4>Bag</h4>
            <% if (size == "NA") { %>
                <p>Bag is currently empty</p>
            <% } else { %>
                <p>Current ADA Price <%= shirt.cardanoPrice %></p>
        </div>
        <div class="checkout-container">
                <div class="merch-container">
                    <img style="object-fit:cover" width="300px" src="<%= shirt.images[0].src %>">
                    <div class="merch-desc">
                        <% let price = shirt.variants[0].price/100 %>
                        <% let priceADA = (price / shirt.cardanoPrice).toFixed(5) %>
                        <p><strong><%=shirt.title%></strong></p>
                        <p>Unisex (Men's & Women's)</p>
                        <p>Size: <%=size%></p>
                        <p>Quantity: <%=qty%></p>
                        <p>Price: $<%= price %> / <%= priceADA %> ADA </p>
                        <p>Shipping: </p>
                    </div>
                </div>

                <div class="purchase-desc">
                    <h3>Summary</h3>
                    <p>Total: $<%= price * qty %> / <%= priceADA * qty %> ADA </p></p>
                    <form>
                        <input type="text" name="firstname" placeholder="First Name*" required>
                        <input type="text" name="lastname" placeholder="Last Name*" required>
                        <input type="text" name="address" placeholder="Address*" required>
                        <input type="text" name="city" placeholder="City*" required>
                        <input type="text" name="postal" placeholder="Postal Code*" required>
                        <input type="text" name="apartment" placeholder="Apt Suite, Unit">
                        <input type="email" name="email" placeholder="Email*" required>
                        <input type="number" name="phone" placeholder="Phone*" required>
                    </form>

                    <h3>Payment</h3>
                    <form>
                        <input type="text" name="cardnumber" placeholder="Card Number">
                        <input type="text" name="cardexpiration" placeholder="MM/YY">
                        <input type="text" name="cardcvv" placeholder="CVV">
                    </form>
                </div>
        </div>

        <% } %>
        <h2>Contact Cardano-natives@gmail.com for support</h2>
    </main>
</body>
</html>